.practice-button {
    background: rgba(20, 0, 30, .5);
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-weight: 800;
    color: white;
    line-height: 40px;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}

.btn-one {
    background: rgb(175, 96, 255);
    background: linear-gradient(rgba(177, 82, 255, .5) 0%, rgb(172, 83, 245)100%);
}

.btn-one:hover{
    box-shadow: 1px 1px 1px 0 rgb(255, 247, 247), 0 0 1px 0 rgb(255, 255, 255), inset -2px -2px 2px 0 rgb(255, 255, 255), inset 3px 3px 6px rgb(114, 108, 108);
}